.logo {
  background: no-repeat center/40% url(../../assets/unionsqmain.png);
  height: 10rem;
}

.form {
  margin-top: 5rem;
}

@media only screen and (min-width: 768px) {
  .logo {
    background: no-repeat center/40% url(../../assets/unionsqmain.png);
    height: 10rem;
  }

  .form {
    float: left;
  }
}
