<div class="main-img">
  &nbsp;
</div>
<div class="nav-menu">
  <div class="menu-item text-left">
    <fa-icon [icon]="faCertificate"></fa-icon>&nbsp;<a [routerLink]="['/certificates']">Certificates</a>
  </div>
  <div class="menu-item text-left">
    <fa-icon [icon]="faHome"></fa-icon>&nbsp;<a [routerLink]="['/']">Home</a>
  </div>
  <div class="menu-item text-left">
    <fa-icon [icon]="faNetworkWired"></fa-icon>&nbsp;<a [routerLink]="['/network']">Network</a>
  </div>
  <div class="menu-item text-left">
    <fa-icon [icon]="faMobile"></fa-icon>&nbsp;<a [routerLink]="['/smart-devices']">Smart Devices</a>
  </div>
  <div class="menu-item text-left">
    <fa-icon [icon]="faSignOut"></fa-icon>&nbsp;<a [routerLink]="['/session/signout']">Sign Out</a>
  </div>
</div>
