<div class="container mt-3">
    <div class="window">
        <div class="window-title">
            Issued Certificates
        </div>
        <div class="window-body">
            <div class="d-flex flex-row-reverse">
                <div class="p-2"><input type="button" name="issueCertificate" id="issueCertificate" class="btn btn-primary" value="Issue Certificate"></div>
                <div class="p-2"></div>
                <div class="p-2"><input type="button" name="revokeSelected" id="revokeSelected" class="btn btn-danger"
                        value="Revoke Selected"></div>
            </div>
            <table class="table">
                <thead>
                    <tr>
                        <td>&nbsp;</td>
                        <td>Common Name</td>
                        <td>Thumbprint</td>
                        <td>Serial Number</td>
                        <td>Issued Date</td>
                        <td>Created Date</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><input type="checkbox" name="1" id="slug-1" class="form-check" /></td>
                        <td>usqhome.unionsquared.lan</td>
                        <td>35470AD38E9BC93DDA1460187FEFCB313</td>
                        <td>AAB538153FE</td>
                        <td>22 July 2020 16:50</td>
                        <td>22 July 2022 00:00</td>
                    </tr>
                    <tr>
                        <td><input type="checkbox" name="2" id="slug-2" class="form-check" /></td>
                        <td>usqjenkins01.unionsquared.lan</td>
                        <td>DBFE351381038EDBADB38012E38DDB1389</td>
                        <td>33AB33FE21DC</td>
                        <td>3 June 2020 22:50</td>
                        <td>3 June 2022 00:00</td>
                    </tr>
                    <tr>
                        <td><input type="checkbox" name="2" id="slug-3" class="form-check" /></td>
                        <td>unionized.unionsquared.lan</td>
                        <td>EF13803BC123511D1480A9B32323BBD323</td>
                        <td>99379AB3151B</td>
                        <td>19 June 2020 04:20</td>
                        <td>19 June 2020 00:00</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="container mt-3">
    <div class="window">
        <div class="window-title">
            Revoked Certificates
        </div>
        <div class="window-body">
            There are no revoked certificates at this time.
        </div>
    </div>
</div>