/* You can add global styles to this file, and also import other style files */
@import "theme/custom.scss";

html {
  display: block;
}

body {
  height: 100vh;
  margin: 0;
}

a, a:link {
  color: $shade-darker;
  text-decoration: none;
  background-color: transparent;
}

a:visited {
  color: $complementary-dark;
}

a:hover {
  color: $complementary-light;
}

a:active {
  color: $danger-color;
}

.form-control {
  border: 1px solid $shade-darker;
}

@import "../node_modules/bootstrap/scss/bootstrap.scss";
