.main-app {
  height: 100%;
}

  .main-app .content-left {
    height: 100%;
    float: left;
    width: 15em;
    background-color: cornflowerblue;
  }

  .main-app .content-right {
    height: 100%;
    width: calc(100% - 15em);
    padding-right: -15px;
    float:left;
  }
