<div class="d-flex justify-content-center">
  <div class="flex-column">
    <div class="p-2 logo">&nbsp;</div>
    <form #loginForm="ngForm" (ngSubmit)="onLogin()">
      <div class="p-2">
        <div class="form-group">
          <label for="username"><span class="fa fa-user"></span>&nbsp;User ID</label>
          <input type="text" class="form-control" id="username" placeholder="User ID" [(ngModel)]="model.username" name="username"
            #username="ngModel" />
        </div>
      </div>
      <div class="p-2">
        <div class="form-group">
          <label for="password"><span class="fa fa-lock"></span>&nbsp;Password</label>
          <input type="password" class="form-control" id="password" name="password" placeholder="Password"
            [(ngModel)]="model.password" #password="ngModel" />
        </div>
      </div>
      <div class="p-2">
        <div class="form-check">
          <input type="checkbox" name="remember" id="remember">
          <label for="remember" class="form-check-label">&nbsp;Remember Me</label>
        </div>
      </div>
      <div class="p-2">
        <input type="submit" value="Log On" class="btn btn-primary" />
        &nbsp;
        <input type="reset" value="Reset" class="btn btn-light" />
      </div>
    </form>
  </div>
</div>