<div class="main">
  <div class="container">
    <center>
      <div class="middle">
        <div id="login">
          <form #loginForm>
            <fieldset class="clearfix">
              <p><span class="fa fa-user"></span><input type="text" Placeholder="Username" required [(ngModel)]="model.username" #username="ngModel" name="username"></p> <!-- JS because of IE support; better: placeholder="Username" -->
              <div class="alert alert-danger" [hidden]="username.valid || username.pristine">
                Please provide your username
              </div>
              <p><span class="fa fa-lock"></span><input type="password" Placeholder="Password" required [(ngModel)]="model.password" #password="ngModel" name="password"></p> <!-- JS because of IE support; better: placeholder="Password" -->
              <div class="alert alert-danger" [hidden]="password.valid || password.pristine">
                Please provide your password.
              </div>
              <div>
                <span style="width:48%; text-align:left;  display: inline-block;">
                  <a class="small-text" href="#">
                    Forgot
                    password?
                  </a>
                </span>
                <span style="width:50%; text-align:right;  display: inline-block;"><input type="submit" value="Sign In"></span>
              </div>
              <div [hidden]="!hasFailed" class="alert alert-danger">
                There was a problem processing your login request. Please try again.
              </div>
            </fieldset>
            <div class="clearfix"></div>
          </form>

          <div class="clearfix"></div>

        </div> <!-- end login -->
        <div class="logo">
          
          <div class="clearfix"></div>
        </div>

      </div>
    </center>
  </div>
</div>
